.form-container{
    padding: 24px;
}
.form-container form{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
}
.form-container .form-control {
    margin-right: 10px;
}

.project-table{
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.project-table th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    text-align: left;
    padding: 8px;
    font-size: 14px;
}

.project-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    padding: 8px;
    font-size: 14px;
}

.line-through{
    text-decoration: line-through;
}